// Breakpoints
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xsm: 575px;

$brand-color: #1876f2;

$gray-100: #65676b;
$color-white: #fff;
$color-gray: #d8dadf;
$color-gray-hover: #d8dadf;
$color-semibalck: #050505;
$secondary-color: #f2f2f2;
$semiWhite-color: #f0f2f5;

$shadow-1: rgba(0, 0, 0, 0.2);
