@media (hover: none) {
  .friend-sidebar {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.friend-sidebar {
  max-width: 350px;
  left: 0;
  top: 67px;
  width: 100%;
  background-color: $color-white;
  height: calc(100% - 67px);
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;

  @media (max-width: $sm) {
    top: 57px;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0px;
    }

    &:hover {
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media (max-width: $xsm) {
    top: 121px;
    width: 100%;
  }

  .sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 24px;
      line-height: 28px;
      color: $color-semibalck;
      font-weight: 700;
    }

    .icon {
      @include reset-button;
      background-color: $color-gray;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 25px;
      }
    }
  }

  .friend-request-top {
    display: flex;
    padding-block: 8px;
    margin-inline: 10px;
    border-bottom: 1px solid $color-gray;
    align-items: center;

    & > a {
      @include reset-button;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: $color-gray;
      }

      svg {
        width: 25px;
        height: 25px;
      }
    }

    & > div {
      margin-left: 12px;
    }

    a {
      font-size: 14px;
      line-height: 15px;
      color: #65676b;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
      color: $color-semibalck;
      font-weight: 700;
    }
  }
}

.friend-right-side {
  margin-left: 370px;

  @media (max-width: $sm) {
    margin-left: 0;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $color-white;
  }
}

ul.sidebar-menu {
  padding: 8px;

  li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: $color-semibalck;
    font-weight: 500;
    text-decoration: none;
    padding: 7px 10px;

    &:hover,
    &.active {
      background-color: rgba($color: $color-gray, $alpha: 0.5);
    }

    &.active {
      & > span:first-child {
        background-color: rgba($color: $brand-color, $alpha: 0.85);
        color: $color-white;
      }
    }

    & > span:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: $color-gray;
      border-radius: 50%;
      line-height: 19px;
      font-size: 15px;
    }

    & > span:last-child {
      display: block;
      svg {
        width: 25px;
      }
    }
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.friend-group-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 20px;
    line-height: 24px;
    color: $color-semibalck;
    font-weight: 700;
  }

  a {
    @include reset-button;
    color: $brand-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;

    &:hover {
      background-color: $color-gray;
    }
  }
}

.friend {
  background-color: $color-white;
  & > img {
    width: 100%;
    height: 200px;
  }

  .friend-body {
    padding: 10px;

    & > a {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: $color-semibalck;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $color-semibalck;
      }
    }

    & > .mutual-friends img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin-right: 12px;
    }

    & > button {
      @include reset-button;
      width: 100%;
      padding: 10px;
      font-size: 12px;
      line-height: 16px;
      color: $color-semibalck;
      background-color: $brand-color;
      margin-top: 10px;
      color: $color-white;
    }

    & > button:last-child {
      background-color: $color-gray;
      color: $color-semibalck;
    }
  }
}

.no-proile-selected {
  position: absolute;
  top: 67px;
  right: 0;
  width: calc(100% - 350px);
  height: calc(100vh - 67px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  img {
    max-width: 120px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: $color-semibalck;
    font-weight: 700;
  }
}

.friend-request-container {
  margin-inline: 10px;

  h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: $color-semibalck;
  }

  & > button {
    @include reset-button;
    color: $brand-color;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    background-color: transparent;
  }
}
