.messenger {
  margin-top: 67px;
  height: calc(100vh - 67px);
  background-color: red;

  .messenger-body {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -130px;

    .single-message > div {
      display: inline-block;
      background-color: #0084ff;
      padding: 10px;
      color: #fff;
      border-radius: 20px;

      p {
        font-size: 15px;
        line-height: 20px;
      }
      span {
        font-size: 12px;
        text-align: right;
      }
    }

    .single-message .bg-gray {
      background-color: #e4e6eb;
      color: #000;
    }
  }

  .chathead {
    position: fixed;
    border-bottom: 1px solid #0000001f;
    left: 32.5%;
    width: 68%;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
