.messenger-form {
  padding: 3px 13px;
  position: absolute;
  width: 65%;

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #f0f2f5;
    }
  }

  .thums-up {
    flex-basis: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  .messenge-area {
    border: none;
    outline: none;
    background-color: #f0f2f5;
    border-radius: 20px;
    padding: 10px;
  }
}
