.post-modal {
  background-color: #fff;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;

  .user-info {
    button {
      background-color: #e4e6eb;
      font-size: 12px;
      line-height: 15px;
      color: #050505;
    }
  }

  .textarea:focus {
    outline: none;
    border: none;
  }

  .close {
    @include reset-button;
    font-weight: bold;
    color: #6f757c;
    background-color: #e4e6eb;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:hover {
      background-color: #d8dadf;
    }
  }
}
