.menu-header.scrolled-bottom {
  border-bottom: 2px solid #0000001a;
}

.chat-lists {
  height: calc(100vh - 167px);
  overflow-y: scroll;
  overflow-x: hidden;

  .chat-lists {
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 347px);
    background: greenyellow;

    .chat-list {
      padding: 10px 5px;
      transition: 0.3s;
      position: relative;

      &:hover {
        .overlay {
          visibility: visible;
          opacity: 1;
          display: flex;
        }
      }

      &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
      }

      &.active {
        background-color: #eaf3ff;
      }

      .profile {
        border-radius: 50%;
        min-width: 62px;
        width: 62px;
        height: 62px;

        img {
          width: 62px !important;
          height: 62px !important;
          border-radius: 50%;
        }
      }

      .user-deatils {
        .user-name {
          font-weight: 500;
          font-size: 15px;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .overlay {
        position: absolute;
        background-color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        right: 63px;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
